vendor
node_modules
.git
.github
.idea
.vscode
.env
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*.log
bootstrap/cache/*.php
phpunit.xml
.phpunit.result.cache
docker-compose*.yml
Dockerfile
.docker
*.md
